#adminmenu #toplevel_page_jkl_panel .wp-submenu li:first-child a {
    border-bottom: 1px solid #444;
    padding-bottom: 12px;
    margin-bottom: 5px;
}

/*
 * JKL PLUGINS ADMIN Settings Page
 */
.jkl-wrap .header {
    background: url('../../imgs/banner-learning.jpg') top center no-repeat;
    background-size: cover;
    height: 200px;
    margin: 0 -22px;
    padding: 10px 22px;
}

.jkl-wrap h1 {
    font: 300 2.57143em/1em "poxima-nova", "Open Sans", Helvetica, Arial, sans-serif;
    position: relative;
    z-index: 3;
    width: 100%;
    text-align: center;
}
.jkl-content .wp-filter {
    margin-top: 0;
}
.jkl-content .submit {
    text-align: center;
}
.jkl-content .button-large {
    font-size: 110%;
}
.jkl-intro {
    text-align: center;
    font-size: 1.24em;
    line-height: 175%;
}

.jkl-footer {
    padding-top: 1.5em;
    text-align: center;
}
.jkl-footer a {
    color: #999;
    padding: 0 6px;
    text-decoration: none;
    font-size: 14px;
}
.jkl-primary {
    padding: 25px 15px 10px 15px;
}
.jkl-attribution {
    color: #bbb;
    font-size: 0.78571em;
    text-transform: uppercase;
}
.jkl-secondary {
    padding: 15px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.jkl-content .plugin-card-bottom {
    color: #999;
}
.jkl-content .plugin-card-bottom span {
    margin-right: 5px;
}
.jkl-content .toggle-on {
    color: #0a0;
}
